<!DOCTYPE html>
<html>
<head>
  {% block title %}
	<title>Fee Check</title>
  {% endblock %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    	body {font-family: Arial, Helvetica, sans-serif;
           background-color: #e2cfcf;}
    	p {
         font-size:50px;
         color: red;
        }
        .dark{
        	font-size:20px;
        	background:black;
        	color:white;
        }
        .cd{
        	font-size: 20px;
        	color: rgba(255,255,255,20);
          background: grey;
        }
    </style>
</head>
<body>
{% block content %}
<p class="text-center"> Fee Balance</p><br>
<div class="container">
<table class="table table-bordered">
  <thead class="dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Fee Balance</th>
    </tr>
  </thead>
  <tbody class='cd'>
    <tr>
      <th scope="row">{{data.stu_name}}</th>
      <td>{{data.stu_feebalance}}</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
</body>
</html>