{% extends 'feecheck.html' %}
{% block title %}
<title>Marks Check</title>
{% endblock %}
{% block content %}
<p class="text-center">Internal Marks</p><br>
<div class="container">
<table class="table table-bordered">
  <thead class="dark">
    <tr>
      <th scope="col">Subject_Id</th>
      <th scope="col">Marks_Secured</th>
    </tr>
  </thead>
  <tbody class='cd'>
  	{% for i in data %}
    <tr>
      <th scope="row">{{i.sub_br_id_id}}</th>
      <td>{{i.sub_secured}}</td>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}